<div class="container">
    <div class="row">
        <div class="col loginOption">
            <h1 class="loginText">Login</h1>
            <div class="input-group mb-3 loginGroup">
                <span class="input-group-text" id="inputGroup-sizing-default">UserName:</span>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group mb-3 loginGroup">
                <span class="input-group-text" id="inputGroup-sizing-default">Password</span>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
            <button type="button" class="btn btn-outline-primary submit">Submit</button>
        </div>
    </div>

    <div class="row">
        <div class="col loginOption">
            <h1 class="loginText">Signup</h1>
            <div class="input-group mb-3 loginGroup">
                <span class="input-group-text" id="inputGroup-sizing-default">UserName:</span>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group mb-3 loginGroup">
                <span class="input-group-text" id="inputGroup-sizing-default">Password</span>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
            <button type="button" class="btn btn-outline-primary submit">Submit</button>
        </div>
    </div>
</div>
