<body>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="row">
                <h1>Welcome to HeroHolder</h1>
                <p>where Legend's are born, and rest after adventuring</p>
            </div>
            <div class="row signup">
                <button class="btn btn-outline-primary" type="button" routerLink="/login">sign up</button>
            </div>
            <div class="row Login">
                <button class="btn btn-outline-primary" type="button" routerLink="/login">Login</button>
            </div>
        </div>
        <div class="col">
            <h3>placeholder image</h3>
        </div>
    </div>
</div>
</body>