$primary-color: #48BFE3;
$Primary-Darker: #5390D9;
$Primary-Accent: #6930C3;


.container-fluid{
    display: flex;
    justify-content: center;
    //flex-flow: row wrap;
    margin: 0;
    //background: grey;
    
    
}

.col{
    margin-top: 15%;
    margin-right: 5%;
    border: 3px solid $Primary-Darker;
    border-radius: 10px;
    justify-content: center;
    text-align: center;
    
    
}

.signup,.Login{
    margin:10%
}

.btn{
    color: #6930C3;
}

.btn:hover{
    color: white;
}
