<body>
    <!--div *ngIf="!characters2.length">
        <div class="d-flex justify-content-center">
            <div class="spinner-border text-info" role="status">
                <span class="sr-only">Loading...</span>
              </div>
          </div>
    </div-->

    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="row">
                    <h1>Character Catalog</h1>
                    <p>Select Your Champion !</p>
                </div>
                <div class="row signup">
                    <tr *ngFor="let character2 of characters2; let i = index" class="CharList">
                        <td (click)="NavToCharacter(character2.CharName)">{{character2.CharName}} the {{character2.CharClass}}</td>
                    </tr>
                    <button routerLink="/Create" class="btn btn-outline-primary" type="button">New Character</button>
                    <button (click)="logCharData()" class="btn btn-outline-primary" type="button">console-log</button>
                </div>
                
            </div>
            <div class="col">
                <div class="row border">
                    <h3>placeholder image</h3>
                </div>
                <div class ="row border">
                    <p class="profileName">{{profileName}}</p>
                    <p class="profileInfo">Member since:</p>
                    <p class="profileInfo">number of adventures:</p>
                </div>
                <div class="row edit">
                    <button class="btn btn-outline-primary" type="button">Edit</button>
                </div>
                <div class="row edit">
                    <button (click)="LogOut()" class="btn btn-outline-primary" type="button">Logout</button>
                </div>
                
            
            </div>
        </div>
    </div>
    </body>
